<br>
<%= render "layouts/navbar" %>
<br>
<br>
<br>
<h1> Teachers of School of Learning </h1>

<div class="teachers">
  <% @teachers.each do |teacher| %>
    <div id="teacher-<%=teacher.id%>">
      <%=link_to "#{teacher.name}", "/teachers/#{teacher.id}" %>,
      Started At: <%= teacher.created_at.strftime("%m/%d/%y") %> <br>
    </div>
  <% end %>
</div>

<br>
<br>
<br>
<%= link_to "New Teacher", "/teachers/new" %>