<br>
<%= render "layouts/navbar" %>
<br>
<br>
<table>
<br>
<%= link_to "Sort Alphabetically", :sort => "name" %>
<%= link_to "Sort by Student Count", :sort => "count" %>
<br>
<br>
<br>
<%= form_with url: "/teachers", method: :get do |form| %>
  <%= form.label :name, "Search Teachers" %>
  <%= form.text_field :name %>
  <%= form.submit "Search" %>
<% end %>
<br>
<br>
<h1> Teachers of School of Learning </h1>

<div class="teachers">
  <% @teachers.each do |teacher| %>
    <div id="teacher-<%=teacher.id%>">
      <%= link_to "#{teacher.name}", "/teachers/#{teacher.id}" %>,
      Started At: <%= teacher.created_at.strftime("%m/%d/%y") %> <br>
      <%= link_to "Update #{teacher.name}", "/teachers/#{teacher.id}/edit" %> <br>
      <%= link_to "Delete", "/teachers/#{teacher.id}", method: :delete %> <br>
      <br>
      <br>
    </div>
  <% end %>
</div>
</table>
<br>
<br>
<br>
<%= link_to "New Teacher", "/teachers/new" %>